{% extends 'base.html.twig' %}

{% block title %}MembershipType {% endblock %}

{% block body %}
    <h1>Membership Types </h1>
       <div class="row">
        <div class="col-12">
            <p align="right">
                <a href="{{ path('app_type_new') }}" class="btn btn-outline-success">Create new</a>
            </p>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Membershiptype</th>
                <th>Description</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membership_type in membership_types %}
            <tr>
                <td>{{ membership_type.id }}</td>
                <td>{{ membership_type.Membershiptype }}</td>
                <td>{{ membership_type.description }}</td>
                
                <td>
                    <a href="{{ path('app_type_show', {'id': membership_type.id}) }} button type="button" class="btn btn-primary"">show</a>
                    <a href="{{ path('app_type_edit', {'id': membership_type.id}) }}" button type="button" class="btn btn-success">edit</a>
                     <a href="{{ path('app_type_delete', {'id': membership_type.id}) }}" button type="button" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
