{% extends 'base.html.twig' %}

{% block title %}MembershipType
{% endblock %}

{% block body %}

	<div class="show-Container">
		<h1> Type of the Membership </h1>
		<div class="row">
			<div class="col-12">
				<p align="right">
					<a href="{{ path('app_type_index') }}" class="btn btn-outline-success">back to list</a>
				</p>
			</div>

			<table class="table show-table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ membership_type.id }}</td>
					</tr>
					<tr>
						<th>Membershiptype</th>
						<td>{{ membership_type.Membershiptype }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ membership_type.description }}</td>
					</tr>
				</tbody>
			</table>


			<div>
				<a href="{{ path('app_type_edit', {'id': membership_type.id}) }}" button type="button" class="btn btn-success edit-btn-show">edit</a>
				{{ include('type/_delete_form.html.twig') }}
			</div>
		</div>
	{% endblock %}
