{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activities </h1>
     <div class="row">
        <div class="col-12">
            <p align="right">
                <a href="{{ path('app_activity_new') }}" class="btn btn-outline-success">Create new</a>
            </p>
        </div>


    <table class="table index-table">
        <thead>
            <tr>
                <th>ActivityName</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.ActivityName }}</td>
                <td class="descTD">{{ activity.description }}</td>
                <td>
                    <a href="{{ path('app_activity_show', {'id': activity.id}) }}" button type="button" class="btn btn-primary">show</a>
                    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}" button type="button" class="btn btn-success">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
