{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}

    <h1>  Our Clients </h1>
     <div class="row">
        <div class="col-12">
            <p align="right">
                <a href="{{ path('app_client_new') }}" class="btn btn-outline-success">Create new</a>
            </p>
        </div>

    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client Name</th>
                <th>Client mail</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.mail }}</td>
                <td>{{ client.ClientName }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.birthday ? client.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}" button type="button" class="btn btn-primary">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}" button type="button" class="btn btn-success">edit</a>
                    <a href="{{ path('app_client_delete', {'id': client.id}) }}"button type="button" class="btn btn-danger"> delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
