{% extends 'base.html.twig' %}

{% block title %}Planning index{% endblock %}

{% block body %}
    <h1>Planning </h1>
     <div class="row">
        <div class="col-12">
            <p align="right">
                <a href="{{ path('app_planning_new') }}" class="btn btn-outline-success">Create new</a>
            </p>
        </div>

    <table class="table index-table">
        <thead>
            <tr>
                <th>Activity</th>
                <th>responsible coach</th>
                <th>RoomNumber</th>
                <th>BeginHour</th>
                <th>EndHour</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.activity.ActivityName }}</td>
                <td>{{ planning.User.UserName }}</td>
                <td>{{ planning.roomNumber }}</td>
                <td>{{ planning.BeginHour }}</td>
                <td>{{ planning.EndHour }}</td>
                <td>{{ planning.date ? planning.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_planning_show', {'id': planning.id}) }}" button type="button" class="btn btn-primary">show</a>
                    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}" button type="button" class="btn btn-success">edit</a>
                    <a href="{{ path('app_planning_delete', {'id': planning.id}) }}" button type="button" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
