{% extends 'base.html.twig' %}

{% block title %}Membership
{% endblock %}

{% block body %}
	<div class="show-Container">
		<h1>Membership of the client</h1>
		<div class="row">
			<div class="col-12">
				<p align="right">
					<a href="{{ path('app_membership_index') }}" class="btn btn-outline-success">back to list</a>
				</p>
			</div>

			<table class="table show-table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ membership.id }}</td>
					</tr>
					<tr>
						<th>client Name</th>
						<td>{{ membership.Client.ClientName }}</td>
					</tr>
					<tr>
						<th>Membership type</th>
						<td>{{ membership.type.MembershipType }}</td>
					</tr>
					<tr>
						<th>DateBegin</th>
						<td>{{ membership.DateBegin ? membership.DateBegin|date('Y-m-d') : '' }}</td>
					</tr>
					<tr>
						<th>EndDate</th>
						<td>{{ membership.EndDate ? membership.EndDate|date('Y-m-d') : '' }}</td>
					</tr>
					<tr>
						<th>Price</th>
						<td>{{ membership.price }}</td>
					</tr>
				</tbody>
			</table>


			<div>
				<a href="{{ path('app_membership_edit', {'id': membership.id}) }}" button type="button" class="btn btn-success edit-btn-show">edit</a>

				{{ include('membership/_delete_form.html.twig') }}
			</div>
		</div>

	{% endblock %}
