{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Users and Coaches</h1>
     <div class="row">
        <div class="col-12">
            <p align="right">
                <a href="{{ path('app_user_new') }}" class="btn btn-outline-success">Create new</a>
            </p>
        </div>

    <table class="table index-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>UserName</th>
                <th>Phone</th>
                <th>speciality</th>
                <th>salary</th>
                <th>ModifiedAt</th>
                <th>CreatedAt</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.UserName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.speciality }}</td>
                <td>{{ user.salary }}</td>
                <td>{{ user.ModfiedAt ? user.ModfiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.CreatedAt ? user.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" button type="button" class="btn btn-primary">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" button type="button" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}