{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="show-Container"><h1>User</h1>
    <div class="row">
        <div class="col-12">
            <p align="right">
            <a href="{{ path('app_user_index') }}"  class="btn btn-outline-success">back to list</a>
            </p>
        </div> 

    <table class="table show-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>User name</th>
                <td>{{ user.UserName }}</td>
            </tr>
             <tr>
                <th>phone </th>
                <td>{{ user.phone }}</td>
            </tr>
             <tr>
                <th>coach speciality</th>
                <td>{{ user.speciality }}</td>
            </tr>
            <tr>
                <th>coach salary</th>
                <td>{{ user.salary }}</td>
            </tr>
            <tr>
                <th>modifie date</th>
                <td>{{ user.ModfiedAt ? user.ModfiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>crate date</th>
                <td>{{ user.CreatedAt ? user.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
           
        </tbody>
    </table>
  

    <div><a href="{{ path('app_user_edit', {'id': user.id}) }}" button type="button" class="btn btn-success edit-btn-show" >edit</a>

    {{ include('user/_delete_form.html.twig') }}</div></div>

{% endblock %}
